/* ::::: http://fonts.googleapis.com/css?family=Roboto+Condensed ::::: */

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msfzqcfrpia3w6ypxnpiscpa.woff') format("woff");
}
/* ::::: http://www.cssplay.co.uk/menus/responsive-single/responsive-single.css ::::: */

section { display: block; padding: 0px; margin: 0px auto; max-width: 1200px; min-width: 320px; }
article { display: block; padding: 0px; margin: 0px; }
.menu { display: block; padding: 0px; margin: 0px; height: 42px; position: relative; -moz-user-select: none; }
.menu img { position: absolute; left: 5px; top: 14px; z-index: 100; display: none; }
.menu ul { padding: 0px; margin: 0px; border: 1px solid rgb(170, 170, 170); background: none repeat scroll 0% 0% #555; }
.menu ul li { display: inline-block; position: relative; background: none repeat scroll 0% 0% #555; }
.menu ul li {  }
.menu ul li a { display: block; font: 16px/40px 'Roboto Condensed',arial,sans-serif; color: rgb(68, 68, 68); text-decoration: none; padding: 0px 25px; }
.menu ul li a:hover { color: rgb(170, 0, 0); }
.menu ul li.current a { color: rgb(204, 0, 0); z-index: 100; }
.menu ul li.current b { display: block; width: 100%; height: 40px; position: absolute; top: 0px; left: 0px; background: url('trans.gif') repeat scroll 0% 0% transparent; }
.menu.center { text-align: center; }
.menu.right { text-align: right; }
p { font: 17px/20px 'times new roman',serif; color: rgb(102, 102, 102); }
h1 { font: 30px/40px 'times new roman',serif; color: rgb(68, 68, 68); }
h3 { font: 20px/30px 'times new roman',serif; color: rgb(102, 102, 102); }
h4 { font: 18px/20px 'times new roman',serif; color: rgb(68, 68, 68); }
@media only screen and (max-width: 880px) {
	.menu { width: 200px; }
	.menu.center { margin: 0px auto; text-align: left; }
	.menu.right { margin: 0px 0px 0px auto; text-align: left; }
	.menu img { display: block; }
	.menu ul li { display: block; margin-bottom: -40px; transition: all 0.5s ease 0s; }
	.menu ul li:last-child { margin-bottom: 0px; }
	.menu ul li.current { display: block; z-index: 10; }
	.menu:hover ul li { margin-bottom: 0px; }
}
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
	.menu { width: 200px; }
	.menu.center { margin: 0px auto; text-align: left; }
	.menu.right { margin: 0px 0px 0px auto; text-align: left; }
	.menu img { display: block; }
	.menu ul li { display: block; margin-bottom: -40px; transition: all 0.5s ease 0s; }
	.menu ul li:last-child { margin-bottom: 0px; }
	.menu ul li.current { display: block; z-index: 10; }
	.menu:hover ul li { margin-bottom: 0px; }
}
@media only screen and (max-device-width: 480px) {
	.menu { width: 200px; }
	.menu.center { margin: 0px auto; text-align: left; }
	.menu.right { margin: 0px 0px 0px auto; text-align: left; }
	.menu img { display: block; }
	.menu ul li { display: block; margin-bottom: -40px; transition: all 0.5s ease 0s; }
	.menu ul li:last-child { margin-bottom: 0px; }
	.menu ul li.current { display: block; z-index: 10; }
	.menu:hover ul li { margin-bottom: 0px; }
}
